<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('inc_head'); %>
    <title>Favourites / IMAGEBOT</title>
</head>
<body>
  <!-- Header -->
  <%- include('inc_header'); %>

  <!-- Main content -->
  <main role="main" class="container pt-4">
    <div class="jumbotron bg-white">
      <div id="page-content">
        <div>
            <h1><i class="bi bi-star-fill text-danger"></i> My Favourites</h1>
            <% if (favoriteImages.length === 0) { %>
              <p>There are no favorites saved yet. Go and explore some images!</p>
              <a href="/search" class="btn btn-primary"><i class="bi bi-search"></i> Explore Images</a>
            <% } else { %>
            <!-- Loop through the list of favorite images and display them -->
            <div class="row pt-3 p-3">
              <% favoriteImages.forEach(image => { %>
                <div class="col-xl-3 mb-4">
                  <div class="card p-0 mb-2 growsm h-100" style="width: 100%;">
                    <a href="<%= image.url %>" target="_blank"><img class="card-img-top imgbkg" src="<%= image.url %>" alt="Card image cap"></a>
                    <div class="card-body">
                      <h4 class="card-title"><%= image.title %></h4>
                      <p class="card-text">Size: <%= image.byteSize %></p>
                      <div class="w-100 bg-light d-flex p-0 m-0 align-items-center justify-content-center">
                        <a href="<%= image.url %>" target="_blank" class="btn btn-light"><i class="bi bi-arrows-fullscreen"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              <% }); %>
            </div>
            <% } %>
        </div>
      </div>
    </div>
  </main>

  <!-- Footer -->
  <%- include('inc_footer'); %>

</body>
</html>
