<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('inc_head'); %>
    <title>Search / IMAGEBOT</title>
</head>
<body>
  <!-- Header -->
  <%- include('inc_header'); %>

  <!-- Main content -->
  <main role="main" class="container pt-4">
    <div class="jumbotron bg-white">
        <div id="page-content">
            <div>
                <h1><i class="bi bi-images text-danger"></i> Search Images</h1>

                <!-- Message -->
                <% if (addToFavoritesMessage) { %>
                  <div class="alert alert-info"><span class="alertheader"><i class="bi bi-emoji-smile-upside-down"></i> <%= addToFavoritesMessage %></span></div>
                <% } %>
                <% if (errorMessage) { %>
                  <div class="alert alert-danger"><span class="alertheader"><i class="bi bi-emoji-dizzy"></i> <%= errorMessage %></span></div>
                <% } %>
                <% if (!formSubmitted) { %>
                  <div class="alert alert-info"><span class="alertheader"><i class="bi bi-emoji-smile"></i> Search something!</span> I will do my best to find your images.</div>
                <% } else if (rateLimitExceeded) { %>
                  <div class="alert alert-warning"><span class="alertheader"><i class="bi bi-exclamation-triangle"></i> Too Many Requests</span> Please try again later.</div>
                <% } else if (searchResults && searchResults.length > 0) { %>
                  <div class="alert alert-success"><span class="alertheader"><i class="bi bi-emoji-sunglasses"></i> Yeah!</span> Found these images for you! - It took me <%= elapsedTime %> seconds</div>
                <% } else if (searchResults !== undefined && searchResults.length === 0) { %>
                  <div class="alert alert-danger"><span class="alertheader"></span><i class="bi bi-emoji-expressionless"></i> Sorry!</span> Couldn't find images for you, please try some other queries.</div>
                <% } %>

                <!-- Form -->
                <form class="form-inline mb-4" action="/search" method="POST">
                    <label class="sr-only" for="Query">Search Query:</label>
                    <input type="text" class="form-control mb-2 mr-sm-2" id="Query" name="Query" placeholder="Enter your search query" required>
                    <button type="submit" class="btn btn-primary mb-2"><i class="bi bi-search"></i> Search</button>
                </form>

                <!-- Results -->
                <% if (searchResults && searchResults.length > 0) { %>
                    <div class="row mt-4">
                        <% searchResults.forEach(result => { %>
                          <div class="col-xl-3 mb-4">
                            <div class="card mb-2 growsm h-100" style="width: 100%;">
                              <a href="<%= result.link %>" target="_blank" alt="<%= result.title %>"><img class="card-img-top imgbkg" src="<%= result.link %>" alt="Card image cap"></a>
                              <div class="card-body">
                                <h4 class="card-title"><%= result.title %></h4>
                                <p class="card-text">Size: <%= result.image.byteSize %></p>
                                <div class="w-100 bg-light d-flex p-0 m-0 align-items-center justify-content-center">
                                  <a href="#" class="btn btn-light star-btn" data-url="<%= result.link %>"><i class="bi bi-star"></i></a>
                                  <a href="<%= result.link %>" target="_blank" class="btn btn-light"><i class="bi bi-arrows-fullscreen"></i></a>
                                </div>
                              </div>
                            </div>
                          </div>
                        <% }); %>
                    </div>
                <% } %>

            </div>
        </div>
    </div>
</main>

  


  <!-- Footer -->
  <%- include('inc_footer'); %>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      const starButtons = document.querySelectorAll(".star-btn");
    
      starButtons.forEach(function(button) {
        button.addEventListener("click", function(event) {
          event.preventDefault();
          const imageUrl = button.dataset.url;
    
          // Send AJAX request to server
          fetch("/add-to-favorites", {
            method: "POST",
            headers: {
              "Content-Type": "application/json"
            },
            body: JSON.stringify({ imageUrl: imageUrl })
          })
          .then(response => {
            if (response.ok) {
              return response.text(); // Successfully added image to favorites
            } else {
              throw new Error("Failed to add image to favorites");
            }
          })
          .then(message => {
            alert(message); // Display success message
          })
          .catch(error => {
            console.error("Error:", error.message);
            alert("Failed to add image to favorites. Please try again later.");
          });
        });
      });
    });
    </script>
</body>
</html>
